@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background:
    radial-gradient(circle at top, #2a2a2a 0%, #111111 35%, #000000 100%);
  color: white;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}